/* Variables */
:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px; 
}
.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* General Styles */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color)
}
a {
    color: #333;
    text-decoration: none;
}
ul {
    list-style: none;
}
p {
    margin: 0.5rem 0;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
}
/* Utility Classes */
.container {
    max-width: var(--max-width );
    padding: 0 2rem;
    margin: auto;
    overflow: hidden;
}
.category {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
}
.category-sports { background: var(--sports-color); }
.category-ent { background: var(--ent-color); }
.category-tech { background: var(--tech-color); }

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background: var(--dark-color);
    color: #fff;
    cursor: pointer;
    border: none;
}
.btn-primary { background: var(--primary-color); }
.btn-secondary { background: var(--secondary-color); }
.btn-light { background: var(--light-color); }
.btn-block {
    display:block;
    width: 100%;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}
.card {
    background: #fff;
    padding: 1rem;
}
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}
.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}
.bg-dark {
    background: var(--dark-color);
    color: #fff;
}
.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}
.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
    color: #fff;
}
.list li {
    padding: 0.5rem 0;
    border-bottom: #555 dotted 1px;
    width: 90%;
}
.list li a:hover {
    color: var(--primary-color);
}


/* Navigation Bar (Using Grid) */
#nav-bar {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}
#nav-bar .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
}
#nav-bar .container .logo {
    width: 180px;
}
#nav-bar .container .social-links {
    justify-self: center;
}
#nav-bar .container .social-links a {
    color: #777;
    margin-right: 0.5rem;
}
#nav-bar .container ul {
    justify-self: end;
    display: flex;
}
#nav-bar .container ul li a {
    padding: 0.75rem;
    font-weight: bold;
}
#nav-bar .container ul li a.current{
    background: var(--primary-color);
    color: #fff;
}
#nav-bar .container ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color)
}

/* Showcase Section */
#showcase {
    position: relative;
    background: #333;
    color: #fff;
    padding: 2rem;
}

#showcase::before {
    content: '';
    background: url('../img/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50vh;
}
#showcase .showcase-content {
    z-index: 1;
}


/* Main NewsGrid Section */

#main #newsgrid-content {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#main #newsgrid-content .thumb-1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1 / span 2;
    align-items: center;
    grid-gap: 1rem;
}


#main #newsgrid-content .thumb-7 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 2 / span 2;
    align-items: center;
    grid-gap: 1rem;
}

/* Footer Section */
#footer .footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'about newsletter site-links join'
    'copyright copyright copyright copyright';
    grid-gap: 1.5rem;
}
#footer .about {
    grid-area: about;
}
#footer .about img {
    width: 150px;
}
#footer .about p {
    margin-top: 1rem;
}
#footer .newsletter {
    grid-area: newsletter;
}
#footer .newsletter input[type="email"] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
#footer .newsletter input[type="submit"] {
    width: 90%;
}
#footer .site-links {
    grid-area: site-links;
}
#footer .join {
    grid-area: join;
}
#footer .copyright {
    grid-area: copyright;
    background: #444;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.5rem 0;
}

